<style media="screen,projection">
  [itemtype="http://schema.org/ImageGallery"] {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 20px auto;
  }
  [itemprop="associatedMedia"] {
    /*width: 20%;*/
    /*margin-bottom: 10px;*/
  }
  .visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px !important;
    width: 1px !important;
    border: 0 !important;
    overflow: hidden;
  }
  [itemtype="http://schema.org/ImageGallery"] figure {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
  }
  [itemtype="http://schema.org/ImageGallery"] figure a {
    border-bottom: none;
  }
  [itemtype="http://schema.org/ImageGallery"] a[href*="://"]::after {
    /* override theme data uri svg icon */
    content: "";
  }
  .pswp__share-tooltip a[href*="://"]::after {
    /* override theme data uri svg icon */
    content: "";
  }
  [itemtype="http://schema.org/ImageGallery"] figure a:hover {
    background-color: inherit;
  }
</style>
<div itemscope itemtype="http://schema.org/ImageGallery" data-masonry='{ "itemSelector": "[itemprop=\"associatedMedia\"]", "columnWidth": 150, "gutter": 5, "fitWidth": true }'>
  {{ range .Params.gallery.main }}
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a data-size="{{.w}}x{{.h}}" href="{{ .src }}" itemprop="contentUrl">
        <img width="150" src="{{ .src }}" itemprop="thumbnail" {{ with .caption }}alt="{{ . }}"{{ end }}>
      </a>
      {{ if and .w .h }}
        <meta itemprop="width" content="{{ .w }}">
        <meta itemprop="height" content="{{ .h }}">
      {{ end }}
      {{ if .title }}
        <figcaption class="visually-hidden" itemprop="caption description">
          {{ .title }}
          {{ with .author }}
            <span itemprop="copyrightHolder">Photo: {{ . }}</span>
          {{ end }}
        </figcaption>
      {{ end }}
    </figure>
  {{ end }}
</div>
