<!--{{/*
Add PhotoSwipe galleries with masonry to your pages and posts! To use, create a
data file in your site's `data/media/gallery` folder with raw frontmatter like:

```
base_url = "https://static.hackcabin.com/images/optimized/screenshots/"

[[slide]]
  w = 2880
  h = 1800
  src = "btc-coinbase-17d.png"
  title = "Bitcoin"
[[slide]]
  w = 2880
  h = 1800
  src = "ant-bittrex-17d.png"
  title = "Aragon"
```

Then reference the filename of your gallery in a shortcode.
See example usages below.

Basic usage:
{{< gallery id="slides" hidecaption="true" >}}
*/}}-->
{{ if not ($.Page.Scratch.Get "hasgallery") }}
  {{ partial "addons/gallery/pswp.html" . }}
{{ end }}{{ $.Page.Scratch.Add "hasgallery" 1 }}

{{ $gallery_id := .Get "id" }}
{{ $hide_caption := .Get "hidecaption" | default "false" }}

{{ $base_url := (index .Site.Data.media.gallery $gallery_id).base_url }}

<div itemscope itemtype="http://schema.org/ImageGallery" data-masonry='{ "itemSelector": "[itemprop=\"associatedMedia\"]", "columnWidth": 150, "gutter": 5, "fitWidth": true }'>
  {{ range $key, $slides := .Site.Data.media.gallery }}
    {{ if eq $key $gallery_id }}
      {{ range $slides.slide }}
        {{ $slide_url := delimit (slice $base_url .src) "" }}
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a data-size="{{.w}}x{{.h}}" href="{{ $slide_url }}" itemprop="contentUrl">
            <img width="150" src="{{ $slide_url }}" itemprop="thumbnail" {{ with .caption }}alt="{{ . }}"{{ end }}>
          </a>
          {{ if and .w .h }}
            <meta itemprop="width" content="{{ .w }}">
            <meta itemprop="height" content="{{ .h }}">
          {{ end }}
          {{ if .title }}
            <figcaption {{ if eq $hide_caption "true" }}class="visually-hidden"{{ end }}itemprop="caption description">
              {{ .title }}
              {{ with .author }}
                <span itemprop="copyrightHolder">Photo: {{ . }}</span>
              {{ end }}
            </figcaption>
          {{ end }}
        </figure>
      {{ end }}
    {{ end }}
  {{ end }}
</div>
